html
{
    background-color: white;
}

body
{
    --small-font-size: 15px;
    --medium-font-size: 20px;
    position: relative;
    width: 880px;
    margin-left: 200px;
    padding-top: 0px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: var(--small-font-size);
    color: rgb(68, 68, 68);
    background-color: rgb(245, 245, 245);
	width: 210mm;
}

a
{
    color: rgb(153, 0, 3);
}

header
{
    margin-bottom: 30px;
}

header > h1
{
    font-size: 50px;
    font-family: 'Quattrocento', serif;
}

header > h2
{
    font-size: 30px;
    font-family: 'Quattrocento', serif;
}

.contact-info
{
    position: absolute;
    top: 5px;
    right: 0px;
    padding-right: 40px;
}

p.profile
{
    font-size: var(--medium-font-size);
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

section
{
    margin-top: 10px;
    position: relative;
    padding-left: 130px;
    padding-top: 5px;
    border-top: 1px solid lightgray;
}

section:first-of-type
{
    border-top-width: 5px;
    padding-top: 15px;
}

section h1
{
    font-size: var(--medium-font-size);
    font-style: italic;
    position: absolute;
    left: 0px;
    width: 100px;
}

section > div
{
    position: relative;
    margin-bottom: 20px;
}

section.experience h2
{
    font-size: var(--medium-font-size);
    font-weight: bold;
}

section.experience h3
{
    font-weight: bold;
}

.timeframe
{
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: var(--medium-font-size)
}

section.personnality
{
    display: flex;
}

section.personnality > div
{
    padding-right: 15px;
}

section.technical > ul
{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(20px, auto);
}

section.experience p
{
    margin-top: 5px;
}

section.education span
{
    font-size: var(--small-font-size);
}

section.languages > ul
{
    display: flex;
}

section.languages > ul > li
{
    padding-right: 20px;
	flex: auto;
}

section.languages > ul > li > .lang-level
{
	display: block;
	font-style: italic;
}
